/packages
/Zirpl.Spotify.MetadataAPI/obj
/Zirpl.Spotify.MetadataAPI/bin
/Zirpl.Spotify.MetadataAPI.Net4/obj
/Zirpl.Spotify.MetadataAPI.Net4/bin
/Zirpl.Spotify.MetadataAPI.Silverlight/obj
/Zirpl.Spotify.MetadataAPI.Silverlight/Bin
/Zirpl.Spotify.MetadataAPI.Tests/obj
/Zirpl.Spotify.MetadataAPI.Tests/bin
