/packages
/Zirpl.Spotify.MetadataApi/obj
/Zirpl.Spotify.MetadataApi/bin
/Zirpl.Spotify.MetadataApi.Net4Client/obj
/Zirpl.Spotify.MetadataApi.Net4Client/bin
/Zirpl.Spotify.MetadataApi.Wpa81/obj
/Zirpl.Spotify.MetadataApi.Wpa81/bin
/Zirpl.Spotify.MetadataApi.Portable/obj
/Zirpl.Spotify.MetadataApi.Portable/Bin
/Zirpl.Spotify.MetadataApi.Tests/obj
/Zirpl.Spotify.MetadataApi.Tests/bin
/Zirpl.Spotify.v12.suo
